//- index.pug
doctype html
html
	head
		include includes/head.pug
	body
		include includes/nav.pug

		<!-- Main jumbotron -->
		div(class="jumbotron")
			div(class="container")
				h2 Welcome. Select your task.
		
		//- Display options
		div(class="container")
			h2 Available Tasks:
			each v in dataMap.tasks
				div(class="row")
					div(class="panel panel-default")

						div(class="panel-heading") 
							h4 
								if v.taskType == 1
									a(href="/pairView/" + v.taskId) Task #{v.taskId}: #{v.taskName}
								else if v.taskType == 2
									a(href="/labelerView/" + v.taskId) Task #{v.taskId}: #{v.taskName}
								else
									p Unsupported Task #{v.taskId}: #{v.taskName}

						div(class="panel-body")
							p #{v.question}


		include includes/jsFooter.pug