//- index.pug
doctype html
html
	head
		include includes/head.pug
	body
		include includes/nav.pug

		<!-- Main jumbotron -->
		div(class="jumbotron")
			div(class="container")
				h2 #{taskInfo.taskName} Question:
				p #{taskInfo.question}
		
		//- Display options
		div(class="container")
			h2 Comparisons:
			each v in compList
				div(class="row")
					div(class="panel panel-default")

						div(class="panel-heading") 
							h4 Selected #{v.decision}

						div(class="panel-body")
							h4 Item ID: #{v.lId}
							p #{v.lText}
							h4 Item ID: #{v.rId}
							p #{v.rText}


		include includes/jsFooter.pug