//- index.pug
doctype html
html
	head
		include includes/head.pug
	body
		include includes/nav.pug

		<!-- Main jumbotron -->
		div(class="jumbotron")
			div(class="container")
				h2 #{taskInfo.taskName} Question:
				p #{taskInfo.question}
		
		//- Display options
		div(class="container")
			h2 User Label Counts:
			div(class="row")
				div(class="panel panel-default")

					div(class="panel-body")
						each ud in userDetails
							h4 #{ud.fname} #{ud.lname}: #{ud.count}

		if agreement.user1 != null
			//- Display options
			div(class="container")
				h2 Agreement Statistics:
				div(class="row")
					div(class="panel panel-default")

						div(class="panel-body")
							h4 Top Agreed users:
							h5 #{agreement.user1.fname} #{agreement.user1.lname}
							h5 #{agreement.user2.fname} #{agreement.user2.lname}
							h4 Overlapped Elements: #{agreement.agreeCount}
							h4 Cohen's Kappa: #{agreement.agreement}

		//- Display options
		div(class="container")
			if taskInfo.taskType == 1
				h2 Comparisons:
				each v in detailList
					div(class="row")
						div(class="panel panel-default")

							div(class="panel-heading") 
								h4 Selected #{v.decision}

							div(class="panel-body")
								h4 Item ID: #{v.lId}
								p #{v.lText}
								h4 Item ID: #{v.rId}
								p #{v.rText}
			
			else if taskInfo.taskType == 2
				h2 Labels:
				each v in detailList
					div(class="row")
						div(class="panel panel-default")

							div(class="panel-heading") 
								div !{v.eText}

							div(class="panel-body")
								h4 User: #{v.screenname}
								form(id="update-label-"+v.elId, class="update-label", elementlabelid=v.elId)
									select
										each opt in labelDetails
											if v.lId == opt.lId
												option(value=opt.lId, selected="true") #{opt.lText}
											else
												option(value=opt.lId) #{opt.lText}
									br
									input(class="btn btn-primary btn-sm", type="button", value="Update")


		include includes/jsFooter.pug

		<!-- Script for running the pair viewport -->
		script(src="/static/js/taskStats-detail.js")
