//- index.pug
doctype html
html
	head
		include includes/head.pug
	body
		include includes/nav.pug
		
		<!-- What Task Type is This? -->
		div(style="display:none:" class="TaskType" id=taskInfo.taskType)

		<!-- Main jumbotron -->
		div(class="jumbotron")
			div(class="container")
				h2 #{taskInfo.taskName} Question:
				p #{taskInfo.question}
		
		//- Display options
		div(class="container")
			h2 User Label Counts:
			div(class="row")
				div(class="panel panel-default")

					div(class="panel-body")
						each ud in userDetails
							h4 #{ud.fname} #{ud.lname}: #{ud.count}

		if agreement.user1 != null
			//- Display options
			div(class="container")
				h2 Agreement Statistics:
				div(class="row")
					div(class="panel panel-default")

						div(class="panel-body")
							h4 Top Agreed users:
							h5 #{agreement.user1.fname} #{agreement.user1.lname}
							h5 #{agreement.user2.fname} #{agreement.user2.lname}
							h4 Overlapped Elements: #{agreement.agreeCount}
							h4 Cohen's Kappa: #{agreement.agreement}

		//- Display options
		div(class="container")
			if taskInfo.taskType == 1
				div(class="taskType" style="display:none" taskType=taskInfo.taskType)
				h2 Comparisons:
				- var rowIndex = 0
				each v in detailList
					div(class="row reviewable-row", rowindex=rowIndex)
						- rowIndex++
						div(class="panel panel-default")

							div(class="panel-heading") 
								h4 Selected #{v.decision}

							div(class="panel-body")
								h4 Item ID: #{v.lId}
								p #{v.lText}
								h4 Item ID: #{v.rId}
								p #{v.rText}
			
			else if taskInfo.taskType == 2
				div(class="taskType" style="display:none" taskType=taskInfo.taskType)
				h2 Labels:

				div(class="row")
					nav(aria-label="Page Navigation")
						ul(class="pagination")
							li(class="page-item", id="pre-button")
								a(class="page-link", href="#") Previous
							li(class="page-item", id="next-button")
								a(class="page-link", href="#") Next

				- var rowIndex = 0
				each v in detailList
					div(class="row reviewable-row", rowindex=rowIndex)
						- rowIndex++
						div(class="panel panel-default")

							div(class="panel-heading") 
								h4 Entry: #{rowIndex}
								div !{v.eText}

							div(class="panel-body")
								h4 User: #{v.screenname}
								form(id="update-label-"+v.elId, class="update-label", elementlabelid=v.elId)
									select
										each opt in labelDetails
											if v.lId == opt.lId
												option(value=opt.lId, selected="true") #{opt.lText}
											else
												option(value=opt.lId) #{opt.lText}
									br
									input(class="btn btn-primary btn-sm", type="button", value="Update")


			else if taskInfo.taskType == 3
				div(class="taskType" style="display:none" taskType=taskInfo.taskType)
				h2 Labels:

				div(class="row")
					nav(aria-label="Page Navigation")
						ul(class="pagination")
							li(class="page-item", id="pre-button")
								a(class="page-link", href="#") Previous
							li(class="page-item", id="next-button")
								a(class="page-link", href="#") Next

				- var prevIndex = -1
				- var rowIndex = 0

				each thisUserElementKey of detailList.keys()
					- thisElementLabels = detailList.get(thisUserElementKey)
					div(class="row reviewable-row", rowindex=rowIndex)
						- rowIndex++
						div(class="panel panel-default")

							div(class="panel-heading") 
								h4 Entry: #{rowIndex}
								div !{thisElementLabels.eText}

							
							div(class="panel-body")
								h4 User: #{thisElementLabels.screenname}

								each rqId of labelDetails.keys()
									- thisQuestion = labelDetails.get(rqId)
									- rq = thisQuestion["question"]
									- rqAnswer = thisElementLabels["labels"].get(rqId)
									- rqOptions = thisQuestion["options"]
									- groupName = `${thisUserElementKey}-${thisUserElementKey}`

									p(class="text-center")
									p #{rq}

									form(id="update-range", class="update-label", elementlabelid=rqAnswer.rdId)
										each rqScaleVal in rqOptions
											span(style="width: 10%; display: inline-block;" class="text-left")
												p #{rqScaleVal.rsValue}
												if (rqScaleVal.rsId == rqAnswer.rsId)
													input(
														type="radio"
														class="text-center"
														style="display:block;"
														value=rqScaleVal.rsId
														decisionId=rqAnswer.rdId
														name=groupName
														checked="checked"
													)
												else
													input(
														type="radio"
														class="text-center"
														style="display:block;"
														value=rqScaleVal.rsId
														decisionId=rqAnswer.rdId
														name=groupName
													)
										input(id=rqAnswer.rdId, class="btn btn-primary btn-sm text-center", type="button", value="Update")

								br
								br


		include includes/jsFooter.pug

		<!-- Script for running the pair viewport -->
		script(src="/static/js/taskStats-detail.js")